/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.1);
    transition: all 0.3s ease;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00ff99;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

button {
    padding: 10px 20px;
    background-color: #00ff99;
    color: #111;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

button:hover {
    background-color: #00e6b3;
}

.theory ul {
    list-style-type: none;
    padding: 10px;
}

.theory li {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.6;
}

.simulation {
    margin-top: 30px;
}

.simulation p {
    margin-top: 20px;
    font-size: 1.5rem;
}

#toggle-mode {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid #00ff99;
    padding: 10px;
    cursor: pointer;
}

#toggle-mode:hover {
    background-color: #00ff99;
    color: #111;
}

body.presentation-mode .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: none;
}

body.presentation-mode #toggle-mode {
    display: none;
}

body.presentation-mode header h1 {
    font-size: 3rem;
}
